.footer {
  margin-top: auto;
  padding: 24px 72px;
  border-top: 1px solid #eeeeee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
}

.logo {
  width: 100px;
}

.text {
  font-size: 12px;
  color: #6b6b6b;
}
